* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#header-nav {
    background-color: #19e7f6;
    
}

.navbar-brand h1 { 
    font-family: sans-serif;
	color: #000000;
	text-transform: uppercase;
    font-weight: bold;
	text-shadow: 1px 1px 1px #222;
	line-height: .100;
}

.navbar-brand a:hover, .navbar-brand a:focus {
	text-decoration: none;
}

#nav-list {
	margin-top: 10px;
}
#nav-list a {
	color: #951C49;
	text-align: center;
}
#nav-list a:hover {
	background: #E7E7E7;
}

.navbar-header button.navbar-toggle, .navbar-header .icon-bar {
  border: 2px solid #000000;
}
.navbar-header button.navbar-toggle {
  clear: both;
  margin-top: -30px;
}

.menu-title {
	font-size: 3em;
	text-align: center;
	margin-bottom: 25px;
	color: rgb(0, 0, 0);
}
.menu-item-tile {
  margin-bottom: 25px;
}

.box {
	margin: 1em;
	position: relative;
}
.menu-item-description {
  padding-right: 30px;
  border: 1px solid black;
  background-color: rgb(207, 219, 219);
  padding-top: 1em;
  padding-left: 30px;
  overflow: auto;
} 

h3.menu-item-title {
  text-align: center;	
  margin: 0 0 10px;
  position: relative;
  color: #f75c35;
}
.menu-item-details {
  font-size: 1em;
}

@media (min-width: 992px) and (max-width: 1199px) {
	.navbar-brand {
    padding-top: 20px;
    height: 80px;
    margin: 5px 5px 5px 0;
  }
  .navbar-brand h1 {
    padding-top: 10px;
    margin: 5px 5px 5px 0;
  }
}

@media (max-width: 767px) {
  .navbar-brand {
    padding-top: 10px;
    height: 80px;
    margin: 5px 5px 5px 0;
  }

  #collapsable-nav a { 
    font-size: 1.2em;
  }
  .container {
    margin-top: 0px;
    padding: 10;
  }
  .menu-title {
	font-size: 2em;
	text-align: center;
}

    @media (max-width: 479px) {
        .navbar-brand h1 { 
          font-size: 1.4em;
        }
        .col-xxs-12 {
            position: relative;
            min-height: 1px;
            padding-right: 15px;
            padding-left: 15px;
            float: left;
            width: 100%;
        }
        .menu-title {
            font-size: 2em;
            text-align: center;
        }
    }
}
